.movieCard__img{
    max-width: 360px;
    max-height: 200px;
    object-fit: cover;
}

@media screen and (max-width: 841px) {
    .movieCard__img {
    max-width: 342px;
    }
} 

@media screen and (max-width: 560px) {
    .movieCard__img {
    max-width: 300px;
    }
} 