.navigation__button{
    color: white;
    border: none;
    background-color: transparent;
    line-height: 16px;
    font-size: 12px;
    margin-right: 23px;
    font-weight: 500;
    border-radius: 3px;
}


@media screen and (max-width: 560px) {
    .navigation__button{
        font-size: 10px;
        margin-right: 14px;
    }
} 