.aboutMe__photo{
    height: 327px;
    width: 270px;
}

@media screen and (max-width: 768px) {
    .aboutMe__photo {
        height: 307px;
        width: 255px;
    }
} 

@media screen and (max-width: 560px) {
    .aboutMe__photo {
        height: 352px;
        width: 292px;
    }
} 