.navigation-landing__button-colored{
    border: none; 
    border-radius: 3px;
    background-color: rgba(61, 220, 132, 1);
    padding: 7px 20px;
    line-height: 16px;
    font-size: 12px;
    font-weight: 500; 
    color: black;
}


@media screen and (max-width: 560px) {
    .navigation-landing__button-colored{
        font-size: 10px;
        padding: 6px 13px;
    }
} 