.movieCard{
    background-color: rgba(34, 34, 34, 1);
    border-radius: 6px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 841px) {
    .movieCard {
    max-width: 342px;
    }
} 

@media screen and (max-width: 560px) {
    .movieCard {
        max-width: 300px;
    }
} 