.SearchForm__input{
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: white;
}

 @media screen and (max-width: 560px) {
    .SearchForm__input {
        text-align: start;
        font-size: 18px;
    }
}  