.moviesCardList__list{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px,360px));
    gap:  32px 28px;
    justify-content: center;
    margin: 12px 0 0 0;
}

@media screen and (max-width: 841px) {
    .moviesCardList__list {
        margin: 25px 0 0 0;
        grid-template-columns: repeat(auto-fit,minmax(342px,342px));
        gap:  35px 24px;
    }
    .moviesCardList__list:not(.own) .movieCard:nth-last-child(-n+4) {
        display: none;
    }
} 

@media screen and (max-width: 560px) {
    .moviesCardList__list {
        margin: 25px 0 0 0;
        grid-template-columns: repeat(auto-fit,minmax(300px,00px));
        gap:  15px 24px;
    }
    .moviesCardList__list:not(.own) .movieCard:nth-last-child(-n+7) {
        display: none;
    }
    .moviesCardList__list.own .movieCard:nth-last-child(-n+1) {
        display: none;
    }
} 