.SearchForm{
    padding-top: 49px;
    width: 89%;
}


@media screen and (max-width: 841px) {
    .SearchForm {
        padding-top: 65px;
        width: 92%;
    }
} 

@media screen and (max-width: 560px) {
    .SearchForm {
        padding-top: 73px;
    } 
}