.techs__list{
    list-style: none;
    display: grid;
    /* grid-template-columns: repeat(7, 90px); */
    grid-template-columns: repeat(auto-fit, 90px);
    grid-template-rows: auto;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 800px) {
    .techs__list {
        grid-template-columns: repeat(auto-fit, 84px);
    }
} 

@media screen and (max-width: 560px) {
    .techs__list {
        width: 84%;
        margin: 0 auto;
    }
} 