.techs__header{
    font-weight: 300;
    font-size: 50px;
    margin: 0 0 27px 0;
    letter-spacing: -2px;
}


@media screen and (max-width: 768px) {
    .techs__header {
        margin: 0 0 22px 0;
    }
} 


@media screen and (max-width: 560px) {
    .techs__header {
        font-size: 30px;
    }
} 