.footer{
    background-color: rgba(32, 32, 32, 1);
    /* padding-top: 56px; */
    width: 100%;
    padding-top: 160px;
}

@media screen and (max-width: 770px) {
    .footer {
       padding-top: 125px;
    }
} 

@media screen and (max-width: 560px) {
    .footer {
        padding-top: 98px;
        padding-bottom: 10px;
    }
}