.login{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(32, 32, 32, 1);
    padding: 70px 0 69px 0;
}

@media screen and (max-width: 768px) {
    .login{
        padding: 232px 0 231px 0;
    }
} 

@media screen and (max-width: 560px) {
    .login{
        padding: 56px 0 27px 0;
    }
}