.movieCard__button{    
    color: white;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    background-color: rgba(49, 49, 49, 1);
    border-radius: 20px;
    padding: 5px 16px;
    /* margin-left: 33px; */
    border-color: transparent;
    margin: 17px 0 16px 0;
    width: 100px;
}


.movieCard__button:hover  {
    cursor: pointer;
    opacity: .7;
    transition: opacity .7s;
   }